header {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: medium;
}

article {
  font-family: sans-serif;
}

ol,
ul {
  font-family: sans-serif;
}

button:hover {
  background-color: aqua;
  color: 444px;
}

footer nav {
  font-size: 16px;
  display: inline-block;
}

footer {
  font-size: 16px;
}

.foot-links {
  font-size: 10px;
}
